<!DOCTYPE html>
<html>

<head>
    <title>自動水やり</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/temp.css') }}">
</head>

<body>
    <div>
        <div class="row header">
            <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
            設定画面
        </div>
        <fieldset class="form-group">
            <div class="box_content">
                <div>
                    <h1>設定が完了しました。</h1>
                </div>
                <div>
                    <button type="button" onclick="history.back()">戻る</button>
                </div>
            </div>
        </fieldset>
    </div>
</body>

</html>