.jumbotron {
    //margin-top: 10pt;
    height: 5em;
    //background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}
.jumbotron h1 {
    font-size: 2.2rem;
    margin-top: -0.8em;
}
