<div class="row mb-4">
    <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-md-10 offset-md-1">
        <h2>コントロール</h2>
        <div class="alert alert-info" role="alert" *ngIf="loading; else elseContent">Loading...</div>
        <ng-template #elseContent>
            <form>
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="container">
                            <h3>スイッチ状態</h3>
                            <div class="switchToggle">
                                <input
                                    #valveSwitch
                                    type="checkbox"
                                    id="valveSwitch"
                                    name="valveSwich"
                                    [ngModel]="state"
                                    (change)="updateCtrl(true, valveSwitch.checked)"
                                />
                                <label for="valveSwitch"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="container">
                            <h3>時間</h3>
                            <div class="input-group">
                                <input
                                    class="form-control"
                                    [(ngModel)]="period"
                                    (change)="updatePeriod()"
                                    (click)="$any($event.target).select()"
                                    type="number"
                                    min="1"
                                    max="30"
                                    value="1"
                                    pattern="\d*"
                                    aria-label="散水する期間を分単位で指定します．"
                                    id="momentaryPeriod"
                                    name="momentaryPeriod"
                                />
                                <div class="input-group-append">
                                    <span class="input-group-text">min</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="container">
                <h3>
                    水量 <small>(L/min)</small>
                    <div class="float-end remain" *ngIf="remain != 0">
                        <small>残り: {{ remain | number }} 秒</small>
                    </div>
                </h3>
                <div class="progress" style="height: 30px">
                    <div
                        class="progress-bar bg-success"
                        role="progressbar"
                        [style.width]="flow / FLOW_MAX | percent: '1.4-4'"
                        [attr.aria-valuenow]="flow"
                        aria-valuemin="0"
                        [attr.aria-valuemax]="FLOW_MAX"
                        id="waterFlow"
                    >
                        <div class="pl-2">{{ flow | number: "1.1-1" }}</div>
                    </div>
                </div>
                <div class="alert alert-danger mt-3" role="alert" *ngIf="error['ctrl'] || error['flow']">
                    <p class="mb-0" *ngIf="error['ctrl']">制御に失敗しました。</p>
                    <p class="mb-0" *ngIf="error['flow']">流量の取得に失敗しました。</p>
                </div>
            </div>
        </ng-template>
    </div>
</div>
